/* -------------------- MÁS GENERALES -------------------- */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #f9f9f9;
    background-color: #222;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

p {
    margin: 0px;
    color: #eeff00e1
}

h1 {

    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222;
    margin: 0;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

/* -------------------- HEADER -------------------- */
.contenedor-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    gap: 0px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.item1 {
    grid-area: header;
    background-color: #222;

}

.contenido-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 100%;
}


.logo {
    font-size: 50px;
    color: #eeff00e1
}

.nav-link {
    color: #f9f9f9;
}

/* -------------------- NAVBAR -------------------- */
.navbar {
    padding: 20px 0;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {

    color: azure;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link-hover:hover {
    color: #eeff00e1;
}

.nav-link:focus {
    color: #eeff00e1;
}

/* -------------------- HERO INICIO -------------------- */
.item2 {
    grid-area: main;
}

.hero-inicio {
    /* REUTILIZADO EN INICIO DE SESION*/
    height: 100vh;
    width: 100%;
    background-image: url("./multimedia/imagenHero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-general {
    background-color: rgba(107, 106, 106, 0.541);
    border-radius: 30px;
    height: 90vh;
    width: 95%;
    box-shadow: 0 0 30px 5px rgba(60, 66, 2, 0.342);
    /* bien visible */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
}

.columna-hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.h2-hero {
    color: #222;
}


/* -------------------- INICIO SESION -------------------- */
.formulario-inicio-sesion {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.seccion-general-inicio-sesion {
    align-items: center;


}

.form-floating {
    width: 80%;

}

.form-control {
    border-radius: 20px;
}

.form-control:focus {
    border-color: #eeff00e1;
    box-shadow: 0 0 5px rgba(192, 235, 4, 0.377);
}

.fila-botones-inicio-sesion {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    background-color: #eeff00e1;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: #222;
    --bs-btn-hover-color: #222;
    --bs-btn-hover-bg: #99a30dec;
    --bs-btn-active-color: #222;
    --bs-btn-active-bg: #99a30dec;
    --bs-btn-active-border-color: #99a30dec;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #99a30dec;
    --bs-btn-disabled-border-color: #99a30dec;
}

.p-oscuro {
    color: #222;
}

/* -------------------- FORMULARIO REGISTRO -------------------- */
.formulario-registro {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.columna-botones-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fila-botones-registro {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* -------------------- RUTINAS -------------------- */
.carousel {
    width: 100%;
    height: 90%;
}

.carousel-inner {
    height: 100%;

}

.carousel-item {
    height: 100%;

}

.carousel-item-uno {
    background-image: url("./multimedia/crossfit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item-dos {
    background-image: url("./multimedia/victor-freitas-hOuJYX2K5DA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item-tres {
    background-image: url("./multimedia/soga.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.carousel-caption h5 {
    font-size: 2.5rem;
    /* Título grande */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #22222244;
}

.carousel-caption p {
    font-size: 1.25rem;
    /* Texto más grande */
    font-family: 'Montserrat', sans-serif;
}

.seccion-general-rutinas {
    align-items: center;

}

.boton-crear-rutina {
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

.a-rutinas {

    text-decoration: none;
    color: #f9f9f9;

}

.a-rutinas:hover {
    text-decoration: none;
}

.btn-secondary {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: #222;
    --bs-btn-hover-color: #222;

}

/* -------------------- DÍAS RUTINA -------------------- */
.scroll-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 50px;
}

.row {
    margin-top: 20px;
}

.sin-subrayar:hover {
    text-decoration: none;
}

.card {
    height: 100%;
    justify-content: center;
    padding: 20px;
}

/* -------------------- DÍA RUTINA -------------------- */
.seccion-general-dia {
    padding: 30px;
    height: 90%;

}

.container-dia {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-bottom: 10px;
}

.scroll-container-dia {
    margin-bottom: 10px;
    align-items: center;
    padding: 20px;

}

.h1-dias {
    font-size: 50px
}

.h2-encabezados {
    color: #222;
    font-size: 2rem;
}

.form-control {
    width: 100%;
}

.form-control {

    text-align: center;
}

.table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    height: 100%;
}

.table th,
.table td {
    word-wrap: break-word;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
}


.table thead th {
    background-color: #eeff00e1;
    color: #222;
}

.table tbody tr {
    background-color: #f9f9f9;
    color: #222;
}

.a-tabla {
    width: 100%;

}

.btn-volver {
    width: 40%;
}

/* -------------------- MODIFICAR RUTINA -------------------- */
.encabezado-modificar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 90%;
    align-items: center;
}

.input-nombre-rutina {
    width: 40%;
}

.boton-encabezado {
    width: 40%;
    text-align: end;
}

.container-dia-especifico {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;

}

.container-dias {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    overflow-y: scroll;
}

/* -------------------- AGREGAR EJERCICIO -------------------- */
.toggle-password-btn {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #494E5F;
}

.filtros-de-busqueda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-filtros {
    text-align: start;
}

.buscar-ejercicio-container {
    position: relative;
    width: 40%;
}

.buscar-ejercicio-container input {
    width: 100%;

}

.fa-magnifying-glass {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #494E5F;
}

.lista-seleccionable {
    width: 40%;
}

.encabezado-agregar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.encabezado-agregar div {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;


}

.encabezado-agregar input {
    height: 50%;
}

/* -------------------- MODAL -------------------- */
.imagen-modal {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* -------------------- FOOTER -------------------- */
.item3 {
    grid-area: footer;
    background-color: #222;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.columna-uno-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.columna-dos-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------------- CREAR RUTINA -------------------- */
.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* -------------------- MOBILE -------------------- */

/* Media query para tabletas */

@media (max-width: 1024px) {
    .columna-hero {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .seccion-general {
        align-items: center;
    }

    .fila-botones-inicio-sesion {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fila-botones-registro {
        flex-direction: column;
        height: 40%;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    .btn {
        font-size: 0.5rem;

    }

    .carousel-caption h5 {
        font-size: 1.5rem;
        /* Título grande */
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .carousel-caption p {
        font-size: 1rem;
        /* Texto más grande */
        font-family: 'Montserrat', sans-serif;
    }

    .table th,
    .table td {
        font-size: 0.5rem;
    }

    .fa-magnifying-glass {

        font-size: 0.7rem;

    }

    .encabezado-agregar h1 {
        font-size: 1.5rem;
    }

    .encabezado-agregar div {
        height: 30%;
    }

    .encabezado-agregar {
        margin-bottom: 10px;
    }

    .input-filtros {
        font-size: 0.7rem;
    }

    input {
        font-size: 0.5rem;
    }

    .card-title {
        font-size: 0.8rem;
    }

}